@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind.config or global.css */
.nav-link {
  @apply text-gray-700 font-medium px-4 py-2 hover:text-blue-600 transition;
}

.bg-image {
  background-image: url('/logo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.05;
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}
